.memory-board {
  background:#CCC;
  margin:0px auto;
  border-radius: 15px;
}

#Easy {
  width: 490px;
  height:245px;
}

#Medium {
  width: 610px;
  height:490px;
}

#Hard {
  width: 610px;
  height:735px;
}

.tile-kitty {
  background: url(kitty.png) no-repeat;
  border: #fff 1px solid;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  font-size: 64px;
  cursor: pointer;
  text-align: center;
  line-height: 150%;
}

.tile-value {
  color: #555;
  font-family: Helvetica;
  border: #fff 1px solid;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  font-size: 64px;
  cursor: pointer;
  text-align: center;
  line-height: 150%;
}
